#sync > p {
    font-weight: bold
}
.inr {
    font-weight: normal
}

#anav {
    background-color: #fff; 
}
.anav {

    width: 20px; 
}

.atxt {

    color: black; 
    font-size: 10px;
}

#bnav {
    background-color: #fff;
}

#heading {

    background-color: #0c6eb5; 
    color: white;
}

.market {
	font-size: 1em;
}