{{define "main"}}
<section>
  <h3>{{.Title}}</h3>
  <p style="margin-bottom: 2rem">
    <i>My random thoughts on tech. </i>
    <a href='{{ "logs/index.xml" | absURL}}'> RSS Feeds </a>
  </p>

  <div class="logs-list">
    {{range .Pages}}
    <div>
      <date
        >{{.PublishDate.Format "January 2, 2006"}}</date
      >
      <br />
      <a href="{{.Permalink}}">{{ .Title }}</a>
      <br />
      <!-- date -->
    </div>
    {{end}}
  </div>

  <div style="display: flex; flex-direction: row; flex-wrap: wrap">
    All Tags:
    <div style="margin: 0.2em">
      {{ range .Site.Taxonomies.tags }}
      <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
      <small>({{ .Count }})</small> {{ end }}
    </div>
  </div>
</section>
{{end}}
