{{define "main"}}
<section style="display: inline-block; text-align: left;">
	<h2>{{.Title}}</h2>
	<date>{{ .PublishDate.Format "January 2, 2006" }} | {{.ReadingTime}} minute
		read</date>
	<div>{{ .Content }}</div>
	<div>
		<a href="mailto:kskarthik@disroot.org?subject=[Blog Feedback] {{.Title}}">Comment</a>
		| <a title="Share" role="button" onclick="launchShareMenu()">
			Share
		</a>
	</div>
  <br>
	<div class="mt-5">
		<span>Tags: </span> {{- range .Params.tags -}}
		<a href='{{ "tags/" | absURL }}{{ . | lower }}'>{{ . }}</a>
		{{ end }}
	</div>
	<br />
	<script>
		function launchShareMenu() {
			if (navigator.share) {
				navigator
					.share({
						title: "{{.Title}}",
						text: "{{.Summary}}",
						url: "{{.Permalink}}",
					})
					.then(() => console.log("Successful share"))
					.catch((error) => console.log("Error sharing:", error));
			}
		}
	</script>
</section>
{{ if .Site.Params.search.enabled}} {{partial "search.html" .}} {{end}} {{end}}
