{{define "main"}}
<section class="column">
  <div class="has-text-centered">
    <h1 class="title is-3">My {{.Title}}</h1>
    <p class="text-center" style="margin-bottom: 5%">
      <i>A collection of my short writings</i>
    </p>
  </div>

  <div class="column">
    {{range .Pages}}
    <div class="column">
      <div class="mb-2">
        <a class="title is-6" href="{{.Permalink}}"
          >{{.PublishDate.Format "January 2, 2006"}}</a
        >
        <p class="mt-2">{{.Summary}} ...</p>
      </div>
    </div>
    {{end}}
  </div>
</section>
{{end}}
