{{define "main"}}
<section class="container column content">
  <span class="has-text-warning"
    >{{ .PublishDate.Format "January 2, 2006" }} | {{.ReadingTime}} minute
    read</span
  >
  <div class="mt-5">{{ .Content }}</div>
  <br />
  <br />
  <a
    title="Share Via Email"
    class="mt-10"
    href="mailto:?subject=[Blog Comment] {{.Title}}&body=Comments on: {{.Permalink}}"
    >Comment</a
  >
  |
  <a
    title="Comment"
    class="mt-10"
    href="mailto:?Subject={{.Title}}&body=Check this out! {{.Permalink}}"
    >Share via Email</a
  >
  <br />
</section>
{{ if .Site.Params.search.enabled}} {{partial "search.html" .}} {{end}} {{end}}
