{{define "main"}}
<section class='container'>
    <div class="title is-2">{{.Title}}</div>
    <div class="">
        {{if eq .Kind "taxonomyTerm"}}
        <div class="columns">
            {{range $key, $value := .Data.Terms.Alphabetical}}
            <a class="column" href='{{ "tags/" | absURL }}{{ $value.Name | lower }}'>{{ $value.Name }} ({{.Count }})
            </a>
            {{end}}
        </div>
        {{else}}
            {{range .Pages}}
                <div class="column"><a href="{{.Permalink}}">{{ .Title }}</a></div>
            {{end}}
        {{end }}
    </div>
    {{if .Site.Params.search.enabled}}
    {{partial "search.html" .}}
    {{end}}
</section>
{{end}}
