{{define "main"}}
<section class="column">
  <h2>{{.Title}}</h2>
  <div class="content">{{ .Content }}</div>
  {{ if .Site.Params.search.enabled}} {{partial "search.html" .}} {{end}}
</section>
{{end}}
