<hr />
<footer>
  <div><span class="copyleft">&copy;</span> No Rights Reserved</div>
  <div>
    <a href="https://www.websitecarbon.com/website/kskarthik-gitlab-io/">
      This website emits 0% CO<sub>2</sub></a
    >
  </div>
</footer>
