<div class="hero" align="center">
  {{if .Site.Params.hero.enabled }}
  <img
    class="rounded-circle"
    src="{{ .Site.Params.hero.img | absURL }}"
    title="Icon by freepik <www.flaticon.com>"
    width="200px"
  />
  {{end}}
  <h1>Sai Karthik</h1>
  <span>{{ .Site.Params.about }}</span>
  <br />
  <nav>
    <a href="{{ .Site.BaseURL }}">Home</a>
    <a href='{{ "about" | absURL }}'>About</a>
    <a href='{{ "logs" | absURL }}'>Logs</a>
  </nav>
  <hr />
</div>
