{{define "main"}}
<div align="center">
  <h1>{{":warning:" | emojify}}</h1>
  <h2>Oops!</h2>
  <h5 class="mb-3">The page does not exist!</h5>
  <a href='{{ "/" | absURL }}'
    ><button class="btn btn-warning">GO TO HOME</button></a
  >
  <br />
  {{ if .Site.Params.search.enabled}} {{partial "search.html" . }} {{end}}
</div>
{{ end }}
