{{define "main"}}
<div align="center">
  <h4>Recent Logs</h4>
  <div style="display: inline-block; text-align: left;">
    <!-- loop over first 5 logs/ -->
    {{ if .Site.Params.search.enabled }} {{partial "search.html" .}} {{end}} {{
    range first 10 (where site.RegularPages "Type" "in"
    site.Params.mainSections).ByDate.Reverse }}
    <div>
      <a href="{{.Permalink}}">{{.Title}}</a>
      <date class="date">{{ .PublishDate.Format "2006-01-01" }}</date>
    </div>
    {{end}}
  </div>
</div>
{{end}}
